// Homepage container
.homepage-container {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpath d='M0,0 C20,40 50,20 80,50 C100,80 50,100 0,100 Z' fill='%23f0f6fc' /%3E%3C/svg%3E")
    no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  margin-top: 50px;
  flex-direction: column;

  // Homepage content wrapper
  .homepage-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    gap: 40px;
    margin-bottom: 40px;

    // Left side text styling
    .homepage-text {
      color: #242424;
      font-size: 20px;
      font-weight: bold;
      max-width: 50%;

      h1 {
        font-size: 32px;
        font-weight: bold;

        span {
          color: #007be5;
        }
      }

      h2 {
        font-size: 18px;
        font-weight: normal;
        margin-top: 10px;
      }
    }

    // Right side car image styling
    .car-image-container {
      max-width: 900px;
      width: 100%;
      display: flex;
      justify-content: flex-end;

      .car-image-home {
        width: 800px;
        height: auto;
        object-fit: contain;
      }
    }
  }

  // Styling for SimpleSearch component container
  .simple-search-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0;
  }
}